
.reviewInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    justify-content: space-between;
    gap: 40px;

    div {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

textarea {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
}