
.review {
    background-color: rgb(212, 231, 231);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    position: relative;

    .username {
        color: blue;
        font-weight: bold;
        cursor: pointer;
    }

    .reviewBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .vote {
        text-align: center;
    }
    .arrow {
        cursor: pointer;
        user-select: none;
    }
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    background-color: rgb(180, 203, 223);
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    font-size: 18px;

    div {
        text-align: center;
    }

    .name {
        font-weight: bold;
    }
}

.addComment {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 16px;
    cursor: pointer;
}

.addComment:hover {
    color: blue;
}

.commentBox {
    width: 95%;
    height: 100px;
    margin-top: 30px;
}

.comment {
    background-color: rgb(181, 197, 197);
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}