.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .create {
        padding: 10px;
        background-color: rgb(159, 231, 165);
        color: black;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}

