@media screen and (max-width: 600px) {
    .review {
        width: 80%;
    }
}
.review {
    width: 60%;
    background-color: rgb(212, 231, 231);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    position: relative;
    overflow-x: wrap;

    .username {
        color: blue;
        font-weight: bold;
        cursor: pointer;
    }

    .reviewText {
        margin-top: 50px;
        width: 100%;
        word-break: break-word;
        text-wrap: wrap;
    }

    .vote {
        text-align: center;
        position: absolute;
        left: 25px;
        top: 50px;
    }
    .arrow {
        cursor: pointer;
        user-select: none;
    }

    .delete {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .profSchool {
        display: inline-block;
        span {
            color: blue;
        }
    }
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;

    .box {
        background-color: rgb(180, 203, 223);
        padding: 10px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        font-size: 18px;

        div {
            text-align: center;
        }

        .name {
            font-weight: bold;
        }
    }
}


.addComment {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 16px;
    cursor: pointer;
}

.addComment:hover {
    color: blue;
}

.commentBox {
    width: 95%;
    height: 100px;
    margin-top: 30px;
}

.comment {
    background-color: rgb(181, 197, 197);
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}