
.reviewInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: rgb(215, 215, 211);
    justify-content: space-between;
    gap: 40px;
    
    .slider {
        border-radius: 4px;
        border: 1px solid black;
        padding: 2px;
    }

    div {
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

textarea {
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
    font-family: 'Calibri', sans-serif;
}

button {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}
