
.profile {
    margin-top: 20px;

    h1 {
        text-align: center;
    }
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    div {
        padding: 20px;
        width: fit-content;
        background-color: rgb(170, 205, 205);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}