.login {
    background-color: rgba(154, 190, 197, 0.8);
    width: 300px;
    height: 300px;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;

    div {
        margin: 5px;
    }
    .userInput {
        height: 25px;
        padding: 5px;
        margin-right: 2px;
        border-radius: 5px;
        border: 1px solid black;
    }

    .selected {
        background-color: rgb(85, 137, 92);
    }
}

.userList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: auto;
    height: 200px;

    div {
        margin: 5px;
    }
}